body, .header, .hero-container, .information-container, 
.quote-container, .information-items, .information-item, 
.links, .call-to-action-container, .call-to-action {
    display: flex;
}

body, .information-item, .quote-container,
    .call-to-action-container {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.information-container {
    flex-direction: column;
    padding-top: 50px;
    gap: 50px;
    margin: 0;
    height: 370px;
}

.information {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote-container {
    background-color: rgb(212, 212, 212);
    height: 370px;
    align-items: center;
}

.quote {
    width: 600px;
    font-size: 30px;
}

.quote-credit {
    margin-left: 25%;
}

.medium {
    font-size: 20px;
    font-weight: 900;
}

.information-items {
    justify-content: center;
    flex-shrink: 1;
    gap: 30px;
}

.information, .information-item {
    text-align: center;
}

.information-item {
    flex-basis: 140px;
    align-items: center;
}

.call-to-action {
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
}

.header, .hero-container {
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 350px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-image {
    margin-left: 100px;
}

#main-hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
}

#secondary-hero-text, .links {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

.hero-container {
    height: 400px;
}

.header {
    height: 50px;   
}

.sign-up {
    background-color: #3882F6;
    color: white;
    font-size: 17px;
    border: none;
    padding: 6px 24px;
    border-radius: 10px;
}

#action-button {
    border: 3px solid white;
}

.info-image {
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.call-to-action-container {
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 800px;
    height: 120px;
    margin: 70px;
    border-radius: 10px;
}

.header, .hero-container * {
    color: white;
}

.header-logo {
    flex-grow: 0;
}

.links {
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style: none;
}

.footer {
    color: white;
}